:root {
  --p-spacing1: 0.25rem;
  --p-spacing3: 0.75rem;
  --fontSizeSm: 0.93rem;
  --borderRadius: 5px;
  --fontWeightNormal: 400;
  --colorBackground: #fff;
  --p-colorBackgroundDeemphasize10: #e6e6e6;
  --sail-duration-240: 240ms;
  --sail-duration: var(--sail-duration-240);
  --sail-spacing-12: 12px;
  --error: rgb(205, 61, 100);
}

/*************************
PRICING
**************************/
.slb_pricing {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-weight: 400;
}

.slb_pricing__label {
  font-size: 24px;
}

.slb_pricing__price {
  font-size: 15px;
}

/*****************************
INPUT EMAIL
******************************/

.slb_input_label {
  margin-bottom: var(--p-spacing1);
  font-size: var(--fontSizeSm);
  font-weight: var(--fontWeightNormal);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.slb_input {
  padding: var(--p-spacing3);
  background-color: var(--colorBackground);
  border-radius: var(--borderRadius);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  border: 1px solid var(--p-colorBackgroundDeemphasize10);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 3%), 0px 3px 6px rgb(0 0 0 / 2%);
  outline: none;
  transition: background-color var(--sail-duration), box-shadow var(--sail-duration);
  margin-top: var(--sail-spacing-12);
}

.slb_input:invalid,
.slb_email_input_invalid {
  border-color: var(--error);
}
.slb_input:focus,
.slb_input:focus-within {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.slb_errorMessageBox {
  --auto-translate-x: 0px;
  --auto-translate-y: 0px;
  --auto-scale-x: 1;
  --auto-scale-y: 1;
  transform: translate3d(var(--auto-translate-x), var(--auto-translate-y), 0)
    scale(var(--auto-scale-x), var(--auto-scale-y));
  transform-origin: 0% 0%;
  will-change: transform;
  margin-top: var(--sail-spacing-12);
}

.slb_errorMessage {
  color: var(--error);
}
